* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.container__display {
    margin: 50px auto 0;
    padding: 10px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    border: 2px solid black;
    font-size: 30px;
    font-weight: bold;
}

.container__input-block {
    text-align: center;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.container__input-block .container__input-block--input {
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
}

.container__submit {
    text-align: center;
    padding-top: 50px;
}

.container__submit {
    display: flex;
    justify-content: center;
}

.button {
    background: transparent;
    border: 2px solid black;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.button:active {
    background: black;
    color: white;
}
